*{
    margin:0;
    padding:0;
    
}

.fs-4{
 font-size: 30px !important;
 font-weight: bolder;
 letter-spacing: 2px;
 margin-bottom: 20px;
}
.container{
  
   background-color:ghostwhite;
   
    margin-bottom: -40px;
    z-index: 10;
  
} 
body{
    background-color:ghostwhite;
   
    
    
}
.container2{
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    font-size:45px;
    font-weight:lighter;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.counter{
    color:orangered;
    font-weight: 700;
}
.nav-link{
    color: black ;
}
.nav-pills .nav-link.active{
    background-color: orangered;
    color:white;
}
.typewriter{
   width:50vw;
   height:500px;
   background-color: black;
}
.btn{
 background-color: orangered;
 border: none;
}
#products{
  width:100vw;
  height:500px;
}
#productheading{
  text-align: center;
  font-weight: 700;
}
.cardgrp{
  display: flex;
  justify-content: space-evenly;
}
#productheading1{
  margin-left:50px;
}
#contact{
  width:100vw;
  height:500px;
}
h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
}




.typewriter h1:nth-child(3) {
    color:white;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orangered; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
   margin: 0 auto; /* Gives that scrolling effect as the typing happens */ 
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30),
      blink-caret 0.5s step-end infinite;
  }
  .typewriter h1:nth-child(7) {
    color:white;
    font-family: monospace;
   
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orangered; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing1 3.5s steps(30, end),
      blink-caret1 .5s step-end infinite;
      animation-delay: 3s;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    
    to { width: 70% }
  
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orangered }
  }
  @keyframes typing1 {
    from { width: 0 }
      
    to { width: 70% }
 
    
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret1 {
    from, to { border-color: transparent }
    50% { border-color: orangered }
  }
  .parent{
    position: relative;
    width: 100vw;
    /* height:  */
    margin: 10px;
  }
  .child1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: red;
  }